:root {
  --primary-bg: #000;
  --accent-color: #F5A9B8;
  --accent-color-two: #5BCEFA;
  --text-primary: #ffffff;
  --text-muted: #535353;
  --border-color: rgba(255, 255, 255, 0.1);
  --hover-bg: #444;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #000;
  color: #ffffff;
}

/* Main container */
.container {
  max-width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

/* Main content */
.content {
  padding: 20px;
  padding-bottom: 80px;
  height: 100%;
  overflow-y: auto;
}

/* Playlist Grid Container */
.playlist-grid {
  display: grid;
  padding-top: 16px;
  grid-template-columns: repeat(auto-fill, 120px);
  gap: 16px;
  width: 100%;
}

/* Individual Playlist Card */
.playlist-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #333;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  height: 140px;
  overflow: hidden;
  box-sizing: border-box;
}

.playlist-card:hover {
  background-color: #444;
}

/* SVG Icon */
.playlist-card svg {
  width: 80px;
  height: 80px;
  margin: 0px auto 0px;
  padding: 5px;
}

.playlist-details {
  height: fit-content;
  width: 100%;
}

/* Playlist Title */
.playlist-title {
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  /* padding: 0 8px 10px; */
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.playlist-username {
  color: gray;
  font-size: 14px;
  text-align: center;
  padding: 0 8px 10px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Songs list */
.songs-list {
  margin-top: 20px;
}

.song-item {
  display: flex;
  /* align-items: center; */
  padding: 10px 0;
  border-bottom: 1px solid #282828;

}

.song-img {
  width: 50px;
  height: 50px;
  border-radius: 4px;
}

.song-details {
  flex: 1;
  margin-left: 12px;
}

.song-title {
  font-weight: 500;
  margin-bottom: 4px;
}

.song-artist {
  font-size: 0.8rem;
  color: #b3b3b3;
}

.song-options {
  color: #b3b3b3;
  padding: 8px;
}

/* Mini player */
.mini-player {
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100%;
  background-color: #282828;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  z-index: 9;
  height: 8%;
}

.mini-player-holder {
  display: flex;
  align-items: center;
  max-width: 80%;
}

.mini-player-image {
  width: 10%;
  height: 10%;
  border-radius: 4px;
  margin-right: 12px;
}

.mini-player-details {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mini-player-title {
  font-weight: 500;
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mini-player-artist {
  font-size: 0.8rem;
  color: #b3b3b3;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 90%;

}

.mini-player-controls {
  background: none;
  border: none;
  color: #b3b3b3;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  aspect-ratio: 1;
  max-width: 75px;
  width: 15%;
  cursor: pointer;
  fill: white;
  z-index: 9;
  position: fixed;
  right: 20px;
  z-index: 10;
}

.mini-player-btn {
  color: white;
  margin-left: 16px;
  font-size: 1.2rem;
}

/* Full player */
.full-player {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #121212;
  z-index: 20;
  padding: 20px;
  display: flex;
  flex-direction: column;
  transform: translateY(100%);
  transition: transform 0.3s ease;
}

.full-player.active {
  transform: translateY(0);
}

.player-header {
  display: block;
  height: fit-content;
  align-items: left;
  max-height: 40px;
  /* margin-bottom: 8%; */
}

.close-player {
  background: none;
  border: none;
  width: fit-content;
  aspect-ratio: 1;
  max-width: 40px;
  max-height: 40px;
  z-index: 10;
}

.player-title {
  text-align: center;
  font-weight: 600;
}

.swipe-area {
  width: 100%;
  height: 60%;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.cover-art-container {
  width: 300px;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  aspect-ratio: 1;
  max-height: fit-content;
  margin: 5% 0 5%;
  z-index: -2;
}

.cover-art {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
}

.song-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 5%;
}

.current-title {
  font-size: 1.2rem;
  font-weight: 700;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 5%;
  z-index: 1;
}

.current-artist {
  color: #b3b3b3;
  font-size: 1rem;
  overflow: hidden;
  white-space: nowrap;
  max-width: 80%;
  z-index: 1;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  max-width: 100%;
  max-height: 10%;
}

.control-btn {
  background: none;
  border: none;
  color: #b3b3b3;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  aspect-ratio: 1;
  max-width: 50px;
  width: 15%;
  cursor: pointer;
  fill: white;
}

.play-btn {
  background: none;
  border: none;
  color: #b3b3b3;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  aspect-ratio: 1;
  max-width: 100px;
  width: 25%;
  cursor: pointer;
  fill: white;
  z-index: 10;
}

.progress-bar {
  width: 100%;
  height: 4px;
  background-color: #535353;
  border-radius: 2px;
  overflow: hidden;
}

.progress {
  width: 30%;
  height: 100%;
  background-color: #1DB954;
}

.time-info {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  color: #b3b3b3;
}

.actions {
  display: flex;
  justify-content: space-around;
}

.action-btn {
  background: none;
  border: none;
  color: #b3b3b3;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  aspect-ratio: 1;
  max-width: 75px;
  width: 18%;
  cursor: pointer;
  fill: white;
  margin-bottom: 10px;
}

.action-text {
  font-size: 0.7rem;
  margin-top: 4px;
}

.next-songs {
  flex: 1;
  overflow-y: auto;
  display: none;
}

.next-title {
  font-weight: 600;
  margin-bottom: 16px;
  text-align: center;
}

.hidden {
  display: none;
}

/* Tab content */
.tab-content {
  display: none;
  margin-top: 50px;
}

.tab-content.active {
  display: block;
}

.page-header {
  z-index: 10;
}



.settings-btn {
  margin-top: 23px;
  margin-left: 2%;
  margin-right: 2%;
  z-index: 10;
  height: fit-content;
}

/* Search tab */
.search-container {
  width: 83%;
  /* display: none; */
  display: flex;
  background-color: #282828;
  /* border: 1px solid #ddd; */
  border-radius: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 40px;
}

.search-bar {
  display: flex;
  width: 100%;
  padding: 12px 12px;
  height: 40px;
  border-radius: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  border: none;
  color: white;
  box-shadow: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
}

.page-header {
  width: 100%;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  background-color: #363636;
}


.imageGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px;
}

.imageGrid img {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}


/* Popup */

.popup-overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: height 0.3s ease;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.popup-overlay.active {
  height: 100%;
}

.popup-container {
  position: absolute;
  bottom: -300px;
  width: 100%;
  max-height: 75%;
  max-width: 500px;
  background-color: #282828;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 20px;
  overflow: scroll;
  transition: bottom 0.3s ease;
}

.popup-overlay.active .popup-container {
  bottom: 0;
}

.popup-song-info {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.popup-song-details h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 4px;
}

.popup-song-details p {
  font-size: 12px;
  opacity: 0.8;
}

.popup-buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.popup-button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  padding: 8px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.disabled {
  height: 0;
  width: 0;
  display: none;
}

.popup-button i {
  margin-right: 12px;
  font-size: 20px;
  width: 24px;
  text-align: center;
}

.album-cover {
  max-width: 200px;
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 8px;
}

.album-cover-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.album-date {
  font-size: 16px;
  color: #b3b3b3;
  margin-top: 4px;
}

.playlist-name-input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  background-color: #282828;
  color: white;
  font-size: 16px;
}

.popup-playlist-content-main {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.popup-playlist-content {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.create-playlist-btn {
  background-color: #1DB954;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  aspect-ratio: 1 / 1;
  font-size: 32px;
  transition: background-color 0.3s ease;
}

.max-width {
  width: 100%;
}


.playlist-item {
  display: flex;
  align-items: center;
}

.playlist-checkbox {
  width: 30px;
  height: 30px;
  background-color: #eee;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: transparent;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  margin: 5px;
}

.playlist-checkbox.checked {
  background-color: #4CAF50;
  color: white;
}

.playlist-checkbox svg {
  display: none;
  /* Hide SVG by default */
}

.playlist-checkbox.checked svg {
  display: block;
  /* Show SVG when checked */
}


audio {
  display: none;
}

.range {
  /* appearance: none; */
  cursor: pointer;
  margin-left: 16px;
  margin-right: 16px;
  width: -webkit-fill-available;
  accent-color: var(--accent-color-two);
  width: 100%;
}

.range::-webkit-slider-runnable-track {
  appearance: none;
  height: 6px;
  width: 100%;
}

.range::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  margin-block-start: -5px;
}

.range-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}